<div id="myBody" style="padding-left: 50px">
  <link rel="stylesheet" href="/styles/app.css" />
  <div class="w3-row w3-padding-16">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-deep-orange">Configuration</h1>
        <div>Embed WebRTC By Default
            {{input type='checkbox' checked=frameworkConfig.embedWebRTCByDefault}}
        </div>
        <div>Dedicated Login Window
            {{input type='checkbox' checked=frameworkConfig.dedicatedLoginWindow}}
        </div>
        <div>Enable Call Logs
            {{input type='checkbox' checked=frameworkConfig.enableCallLogs}}
        </div>
        <div>
            Language: 
            <select onchange={{action 'setLanguage' value='target.value'}} name="userLanguage" id="userLanguage">
                <option hidden value="">- choose new language -</option>
                {{#each languages as |language|}}
                    <option value={{language.code}}>{{language.language}}</option>
                {{/each}}
            </select>
        </div>
        <div>
            Theme:
            <select onchange={{action 'setTheme' value='target.value'}} name="theme" id="theme">
                <option hidden value="">- choose new theme -</option>
                {{#each themes as |theme|}}
                    <option value={{theme.name}}>{{theme.name}}</option>
                {{/each}}
            </select>
        </div>
        <button {{action "saveConfig"}}>Save Settings</button>
    </div>
  </div>
</div>